.itens {
    padding-bottom: 32px;
}

.itens h1 {
    color: #EC6091;
    padding: 16px;
    text-align: center;
    font-weight: 900;
}

.cards {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
